
/* Comentários em CSS */
/* seletores css 
    seletor de classe -> .
    seletor de id -> #
    seletor de elemento -> Tag html
*/
body { 
background-color: #d3d3d3; /* cor de fundo */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Estilo da fonte */
font-size: 16px; /* Tamnho da fonte */
margin: 0px; /* margem */
padding: 0px; /* Borda Interna */
text-align: center; /* Alinhamento do texto */
}
